WebApplication_VIA_Cinema/Connected Services/ViaCinemaServiceReference/ViaCinemaServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ViaCinemaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56046/ViaCinemaWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56046/ViaCinemaWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56046/ViaCinemaWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VIA_Cinema.MovieModel" />
      <xsd:import schemaLocation="http://localhost:56046/ViaCinemaWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VIA_Cinema.ProjectionModel" />
      <xsd:import schemaLocation="http://localhost:56046/ViaCinemaWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VIA_Cinema.UserAccountModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IViaCinemaService_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_GetAllProjections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjections" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_GetAllProjections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_GetProjections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjections" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_GetProjections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_BookSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:BookSeat" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_BookSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookSeatResponse" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IViaCinemaService_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IViaCinemaService">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/GetAllMovies" message="tns:IViaCinemaService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/GetAllMoviesResponse" message="tns:IViaCinemaService_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/Login" message="tns:IViaCinemaService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/LoginResponse" message="tns:IViaCinemaService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjections">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/GetAllProjections" message="tns:IViaCinemaService_GetAllProjections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/GetAllProjectionsResponse" message="tns:IViaCinemaService_GetAllProjections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/CreateAccount" message="tns:IViaCinemaService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/CreateAccountResponse" message="tns:IViaCinemaService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjections">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/GetProjections" message="tns:IViaCinemaService_GetProjections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/GetProjectionsResponse" message="tns:IViaCinemaService_GetProjections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/BookSeat" message="tns:IViaCinemaService_BookSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/BookSeatResponse" message="tns:IViaCinemaService_BookSeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IViaCinemaService/UserExists" message="tns:IViaCinemaService_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViaCinemaService/UserExistsResponse" message="tns:IViaCinemaService_UserExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IViaCinemaService" type="tns:IViaCinemaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjections">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/GetAllProjections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjections">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/GetProjections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/BookSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/IViaCinemaService/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViaCinemaService">
    <wsdl:port name="BasicHttpBinding_IViaCinemaService" binding="tns:BasicHttpBinding_IViaCinemaService">
      <soap:address location="http://localhost:56046/ViaCinemaWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>