ViaCinema.Services.Proxies/Connected Services/ViaCinemaPaymentService/ViaCinemaPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MakeTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creditCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MakeTransactionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:MakeTransaction" />
  </wsdl:message>
  <wsdl:message name="MakeTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:MakeTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ViaCinemaPaymentServiceSoap">
    <wsdl:operation name="MakeTransaction">
      <wsdl:input message="tns:MakeTransactionSoapIn" />
      <wsdl:output message="tns:MakeTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViaCinemaPaymentServiceSoap" type="tns:ViaCinemaPaymentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeTransaction">
      <soap:operation soapAction="http://tempuri.org/MakeTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ViaCinemaPaymentServiceSoap12" type="tns:ViaCinemaPaymentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeTransaction">
      <soap12:operation soapAction="http://tempuri.org/MakeTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViaCinemaPaymentService">
    <wsdl:port name="ViaCinemaPaymentServiceSoap" binding="tns:ViaCinemaPaymentServiceSoap">
      <soap:address location="http://localhost:51916/ViaCinemaPaymentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ViaCinemaPaymentServiceSoap12" binding="tns:ViaCinemaPaymentServiceSoap12">
      <soap12:address location="http://localhost:51916/ViaCinemaPaymentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>