ViaCinema.Services.Proxies/Connected Services/ViaCinemaMovieService/ViaCinemaMovieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DurationMinutes" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Genre" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:portType name="ViaCinemaMovieServiceSoap">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input message="tns:GetAllMoviesSoapIn" />
      <wsdl:output message="tns:GetAllMoviesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViaCinemaMovieServiceSoap" type="tns:ViaCinemaMovieServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ViaCinemaMovieServiceSoap12" type="tns:ViaCinemaMovieServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap12:operation soapAction="http://tempuri.org/GetAllMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViaCinemaMovieService">
    <wsdl:port name="ViaCinemaMovieServiceSoap" binding="tns:ViaCinemaMovieServiceSoap">
      <soap:address location="http://localhost:51916/ViaCinemaMovieService.asmx" />
    </wsdl:port>
    <wsdl:port name="ViaCinemaMovieServiceSoap12" binding="tns:ViaCinemaMovieServiceSoap12">
      <soap12:address location="http://localhost:51916/ViaCinemaMovieService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>